In [58]:
from datetime import datetime
from datetime import timedelta
import pandas as pd
import numpy as np

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2019, 10, 26, 23, 50, 48, 385387)

In [7]:
print(now.year, now.month, now.day)

2019 10 26

In [8]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [11]:
delta.days

926

In [15]:
delta.seconds

56700

In [16]:
delta

datetime.timedelta(days=926, seconds=56700)

In [27]:
start = datetime(2011, 1, 7)

In [28]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [29]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [32]:
stamp = datetime(2011, 1, 3)

In [33]:
str(stamp)

'2011-01-03 00:00:00'

In [34]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [35]:
stamp.strftime('%F')

'2011-01-03'

In [37]:
value = '2011-01-03'

In [40]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [41]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [42]:
from dateutil.parser import parse

In [43]:
parse('2011-03-01')

datetime.datetime(2011, 3, 1, 0, 0)

In [47]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [48]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [51]:
idx = pd.to_datetime(datestrs + [None])

In [53]:
idx[2]

NaT

In [54]:
pd.isnull(idx)

array([False, False,  True])

In [57]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
    datetime(2011, 1, 7), datetime(2011, 1, 8),
    datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [59]:
ts = pd.Series(np.random.randn(6), index=dates)

In [60]:
ts

2011-01-02    0.297844
2011-01-05    1.002611
2011-01-07    2.859762
2011-01-08   -0.971096
2011-01-10    1.419139
2011-01-12    1.274145
dtype: float64

In [63]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [69]:
ts + ts[::2]

2011-01-02    0.595688
2011-01-05         NaN
2011-01-07    5.719523
2011-01-08         NaN
2011-01-10    2.838277
2011-01-12         NaN
dtype: float64

In [70]:
ts.index.dtype

dtype('<M8[ns]')

In [72]:
ts.index[0]

Timestamp('2011-01-02 00:00:00')

In [73]:
stamp = ts.index[2]
ts[stamp]

2.8597615448263074

In [81]:
ts['2011-01-12']

1.27414520352092

In [88]:
longer_ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))

In [97]:
longer_ts

2000-01-01   -0.521923
2000-01-02   -0.833246
2000-01-03    0.853961
2000-01-04   -2.821895
2000-01-05    0.683111
                ...
2002-09-22   -1.511482
2002-09-23    0.594770
2002-09-24   -0.735736
2002-09-25   -0.521875
2002-09-26    1.316627
Freq: D, Length: 1000, dtype: float64

In [91]:
ts[datetime(2011, 1, 7):]

2011-01-07    2.859762
2011-01-08   -0.971096
2011-01-10    1.419139
2011-01-12    1.274145
dtype: float64

In [92]:
ts

2011-01-02    0.297844
2011-01-05    1.002611
2011-01-07    2.859762
2011-01-08   -0.971096
2011-01-10    1.419139
2011-01-12    1.274145
dtype: float64

In [93]:
ts['1/6/2011': '1/11/2011']

2011-01-07    2.859762
2011-01-08   -0.971096
2011-01-10    1.419139
dtype: float64

In [94]:
ts.truncate(after='1/9/2011')

2011-01-02    0.297844
2011-01-05    1.002611
2011-01-07    2.859762
2011-01-08   -0.971096
dtype: float64

In [98]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [99]:
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [100]:
long_df = pd.DataFrame(np.random.randn(100, 4),
                                          index=dates,
                                          columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [101]:
long_df

            Colorado     Texas  New York      Ohio
2000-01-05 -0.136418 -0.959435  0.806037 -0.940053
2000-01-12 -0.004948 -1.849709  0.901717 -0.797572
2000-01-19  0.725135 -0.623861  1.075454  0.790964
2000-01-26  0.037142  0.144246  0.293449  1.619523
2000-02-02 -1.771455  0.549109 -1.583641 -2.212353
...              ...       ...       ...       ...
2001-10-31  1.466099  0.340326 -0.519368  1.207057
2001-11-07  0.591055 -0.634089  0.856306  0.683545
2001-11-14  1.239720 -1.474723 -0.988985 -0.751983
2001-11-21  0.524064 -0.653755 -0.295392  0.267448
2001-11-28 -1.621257  0.069582  0.375083  0.697508

[100 rows x 4 columns]

In [102]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])

In [106]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [107]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [109]:
dup_ts.index.is_unique

False

In [111]:
dup_ts['1/3/2000']

4

In [112]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [119]:
grouped = dup_ts.groupby(level=0)

In [115]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [116]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [117]:
grouped.std()

2000-01-01    NaN
2000-01-02    1.0
2000-01-03    NaN
dtype: float64

In [125]:
ts

2011-01-02    0.297844
2011-01-05    1.002611
2011-01-07    2.859762
2011-01-08   -0.971096
2011-01-10    1.419139
2011-01-12    1.274145
dtype: float64

In [126]:
resampler = ts.resample('D')

In [136]:
index = pd.date_range('2012-04-01', '2012-06-01', freq='D')

In [137]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [138]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [139]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [140]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [141]:
from pandas.tseries.offsets import Hour, Minute

In [144]:
hour = Hour(4)

In [145]:
hour

In [146]:
ts = pd.Series(np.random.randn(4), index=pd.date_range('1/1/2004', periods=4, freq='M'))

In [147]:
ts

2004-01-31   -1.292256
2004-02-29   -1.300370
2004-03-31   -0.909124
2004-04-30   -0.095062
Freq: M, dtype: float64

In [150]:
ts.shift(2)

2004-01-31         NaN
2004-02-29         NaN
2004-03-31   -1.292256
2004-04-30   -1.300370
Freq: M, dtype: float64

In [151]:
import pytz

In [154]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [155]:
tz = pytz.timezone('America/New_York')

In [156]:
tz